.text-white-50 {
    color: rgba(255, 255, 255, .5)!important;
    font-size: 50px;
}

.imgSearch {
    vertical-align: middle;
    border-style: none;
    width: 130px;
    height: 150px;
    border: 1px solid cadetblue;
    border-radius: 7px;
}

#favorites {
    float: right;
    width: 100px;
    height: 100px;
    border: 3px solid #555;
    background: #428bca;
    position: relative;
}

#list-search {
    float: left;
}